<!DOCTYPE html>
<html ng-app="app">

<head>
  <link data-require="bootstrap-css@3.1.1" data-semver="3.1.1" rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
  <script data-require="angular.js@*" data-semver="1.3.0-beta.5" src="https://code.angularjs.org/1.3.0-beta.5/angular.js"></script>
  <script data-require="jquery@*" data-semver="2.0.3" src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
  <script data-require="bootstrap@*" data-semver="3.1.1" src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="style.css" />
  <script src="script.js"></script>
</head>

<body ng-controller="MainCtrl" class="container">
  <h3>PAD Monster search</h3>
  <form>
    <div class="form-group">
      <input type="text" ng-model="searchUser.name" placeholder="Search for Monster" class="form-control" />
      <br/>
      <a ng-click="search()" class="btn btn-default">
        <i class="glyphicon glyphicon-search" ng-class="processing: disabled"></i>
        Search
      </a>
    </div>
 
  </form>
  
  <ng-include src="'error.html'"></ng-include>
  
  <div ng-hide="!searched || !githubuser">
    <hr ng-show="githubuser">
    
    <table class="monster">
    <tr>
<th><a href="" ng-click="reverse=!reverse;order('name', reverse)">name</a></th>
<th><a href="" ng-click="reverse=!reverse;order('hp_max', reverse)">hp</a></th>
<th><a href="" ng-click="reverse=!reverse;order('atk_max', reverse)">atk</a></th>
<th><a href="" ng-click="reverse=!reverse;order('rcv_max', reverse)">rcv</a></th>

<th><a href="" ng-click="reverse=!reverse;order('weightedStat', reverse)">weighted</a></th>

</tr>

    <tr ng-repeat="monster in githubuser | filter:searchUser">
<td>
      <img ng-src="https://padherder.com{{monster.image60_href}}" />
      {{monster.name}}&nbsp;
</td>
<td>&nbsp;{{monster.hp_max}}&nbsp;</td>
<td>&nbsp;{{monster.atk_max}}&nbsp;</td>
<td>&nbsp;{{monster.rcv_max}}&nbsp;</td>
<td>&nbsp;{{weightedStat(monster)}}&nbsp;</td>
    </tr>

    </table>
  </div>

</body>

</html>


